footer{
    background-color: var(--background-color);
    color: var(--white-color);
    margin-top: 45px;
}

.footer__upperContent{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--white-color);
}
.footer__information{
    padding-top:80px;
}

.leftSide__subTitle, .rightSide__mobileNo{
    padding-top: 24px;
}

.leftSide__inputButton{
    margin-top:20px;
}

.rightSide__email{
    padding-top: 10px;
}

.rightSide__currency{
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__lowerContent{
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
}

.rightSide__note{
    padding-top: 10px;
}
.lowerContent__leftSide ul , .lowerContent__middle ul{
    display: flex;
    flex-direction: column;
    gap:16px;
    margin-top: 24px;
}
.lowerContent__leftSide li, .lowerContent__middle li, .lowerContent__rightSide li{
    list-style: none;   
}

.lowerContent__rightSide{
    margin-right: 175px;
}
.lowerContent__rightSide ul{
    display: flex;
    margin-top: 24px;
}

.followus__icons ul{
    gap:12px;
}

.rightside__accepts{
    margin-top: 56px;
}

.lowerContent__museQuickLink{
    display: flex;
    gap:210px;
}

.payments__icons ul{
    gap: 8px;
}

.footer__title{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.footer__copyright{
    padding-top: 37px;
    padding-bottom: 15px;
    text-align: center;
}